[submodule "crt/aws-crt-cpp"]
	path = crt/aws-crt-cpp
	url = https://github.com/awslabs/aws-crt-cpp.git
[submodule "crt/aws-c-iot"]
	path = crt/aws-c-iot
	url = https://github.com/awslabs/aws-c-iot.git
